@model IEnumerable<Clinica.Models.Doctor>

@{
    ViewBag.Title = "Lista de Doctores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Doctores</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>

        </tr>
    }

    <p>
        @Html.ActionLink("Agendar Cita", "AgregarCita", "Cita")
    </p>

</table>
